.text {
    font-size: 18px;
    line-height: 1.6;
    color: #c4c5c5;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
Button{
    font-size: 0.1rem;
}
.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.signinWrapper {
    margin-top: 20px;
}   

.hasInvite {
    color: #0077ff;
}
